<!doctype html>
<html lang="en" class="dark" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JoyMedia</title>
    <link rel="icon" href="/assets/joymedia/favicon.svg" type="image/svg+xml" />
    <script>window.csrf_token = "{{ csrf_token }}";</script>
    <script type="module" crossorigin src="/assets/joymedia/frontend/assets/index-BS8LqznU.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/joymedia/frontend/assets/index-Chhk0pUG.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
